body {
    width: 90%;
    margin: 0 auto;
}

.title {
    font-family: 'Luckiest Guy', cursive;
    font-size: 5rem;
    padding: 1rem;
}

#letter0 {
    margin-left: -1.5rem;
}

.title-gif {
    margin-right: -5rem;
}

.user-form {
    margin-bottom: 1rem;
}

.form-group {
    margin-bottom: .6rem;
}

#gif-gallery {
    margin-top: 1rem;
}

figure {
    margin-right: 1rem;
}

#more-gifs {
    display: none;
}

.btn {
    margin: 0 .25rem .5rem .25rem;
}

.modal-body p {
    margin: 0;
}