html {
    overflow-y: overlay;
}

body {
    width: 90%;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

.title {
    font-family: 'Luckiest Guy', cursive;
    font-size: 5rem;
    padding: 1rem;
}

#letter0 {
    margin-left: -1.5rem;
}

.title-gif {
    margin-right: -5rem;
}

#searchHelp {
    color: darkgray;
}

.user-form {
    margin-bottom: 1rem;
}

.form-group {
    margin-bottom: .6rem;
}

#gif-gallery {
    margin-top: 1rem;
}

figure {
    margin-right: 1rem;
}

.fas {
    color: gold;
}

.far {
    color: darkgray;
}

#submit-row {
    margin-top: 2rem;
}

#aux-row {
    margin-top: .3rem;
}

.btn-sm {
    padding: 0 .25rem;
    font-size: .75rem;
}

.btn-warning:focus, .btn-info:focus, .btn-danger:focus, .btn-success:focus, .btn-primary:focus {
    box-shadow: none;
}

#more-gifs, #clear-gifs, #clear-storage {
    visibility: hidden;
}

.btn {
    margin: 0 .25rem .5rem .25rem;
}

#current-conditions {
    height: 1.5rem;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.modal-body p {
    margin: 0;
}